/* Header Section */
header {
    position: sticky;
    z-index: 100;
    top: 0;
}

.header__section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
    background-color: rgb(200, 16, 46); 
}

/* Logo */
.header__logo {
    max-width: 100px; 
}

.header__logo-img {
    width: 100%;
    height: auto; 
}

/* Heading Title */
.header__heading {
    text-align: center;
    font-family: "bebas", sans-serif;
    font-size: 4rem;
    justify-self: center;
    color: white;
    letter-spacing: 0.2rem;
}

/* nav bar */
.header__nav-list li {
    list-style: none; 
}

.header__nav-list a {
    font-family: "bebas", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-bottom: 2px solid white;
}

.header__nav-list a:hover {
    cursor: pointer;
    color: blue;
}

/* Media Queries */

/* Tablet */
@media only screen and (max-width: 1024px) {
    /* header */
    .header__logo {
        max-width: 70px;
    }
    .header__heading {
        font-size: 2.5rem;
    }
    .header__nav-list a {
        font-size: 1rem;
    }
}

/* Mobile */
@media only screen and (max-width: 597px) {
    /* header */
    .header__logo {
        max-width: 50px;
    }
    .header__heading {
        font-size: 2rem;
    }
    .header__nav-list a {
        font-size: 0.8rem;
    }
}