/* font face styles */
@font-face {
    font-family: "bebas";
    src: url("/assets/fonts/bebas-regular.ttf") format(truetype);
}
.table-border {
    margin: 10% auto;
    border-collapse: collapse;
    width: 50%;
}
caption {
    font-family: "bebas", sans-serif;
    font-size: 2em;
    color: white;
    background-color: rgb(200, 16, 46);
    padding: 10px;
    text-align: center;
}

.table-header {
    color: white;
    text-align: center;
}

.table-border th, .table-border td {
    border: 2px solid grey;
    padding: 8px;
}

td {
    text-align: center;
}

.table-border th {
    background-color: rgb(47, 90, 189);
}
 .table-border .team-name {
    color: white;
    background-color: rgb(200, 16, 46);
    text-align: center;
 }