/* font face styles */
@font-face {
    font-family: "bebas";
    src: url("/assets/fonts/bebas-regular.ttf") format(truetype);
}
.table-border {
    margin: 5% auto;
    border-collapse: collapse;
    width: 95%;
}
caption {
    font-family: "bebas", sans-serif;
    font-size: 2em;
    color: white;
    background-color: rgb(200, 16, 46);
    padding: 2%;
    text-align: center;
    border-radius: 5px;
}

.table-header {
    color: white;
    text-align: center;
    background: radial-gradient(circle, rgba(180,58,88,1) 0%, rgba(253,29,29,1) 58%, rgba(252,69,222,1) 100%);   
}

.table-border th, .table-border td {
    border: 2px solid black;
    padding: 1.5%;
    font-size: 1.1rem;
}

td {
    text-align: center;
}

 .team-name {
    color: white;
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,45,82,1) 100%);
    text-align: center;
 }