/* Universal styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "bebas";
    src: url("/assets/fonts/bebas-regular.ttf") format(truetype);
}

/* Header */
header {
    position: sticky;
    z-index: 100;
    top: 0;
}

.header__section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(200, 16, 46);
    width: 100%;
    height: 20vh;
}

.header__logo {
    align-content: center;
}

.header__logo-img {
    height: 15vh;
    width: 100%;
}

.header__heading {
    font-family: "bebas";
    font-size: 5rem;
    color: white;
    align-self: center;
}

.header__nav {
    align-self: center;
    font-size: 1.5rem;
    margin-right: 2%;
}

.header__nav-list {
    font-family: "bebas";
    list-style-type: none;
    cursor: pointer;
}

.header__nav-list a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.header__nav-list a:hover {
    animation-delay: 400ms;
    color: blue;
    cursor: pointer;
}

/* Main section */

/* Main Header */
.main__heading {
    font-family: "bebas";
    text-align: center;
    font-size: 2rem;
    padding-top: 5%;
    position: static;
}

/* Team section styles */
.team {
    /*border: 3px solid red;*/
    padding: 5% 5% 5% 10%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 10%;
}
.team__player-image img, .team__player-nationality img {
    height: 18vh;
    width: 72%;
    cursor: pointer;
}

/* Goalkeeper styles */
.team__goalkeeper {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 1 / span 11;
    grid-row: 1;
    padding: 0;
    margin: 0;
    position: relative;
}

.team__goalkeeper-front, .team__goalkeeper-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 18%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__goalkeeper-front {
    transform: rotateY(0deg);
}

.team__goalkeeper-back {
    transform: rotateY(180deg);
}

.team__goalkeeper-front:hover {
    transform: rotateY(-180deg);
}

.team__goalkeeper-front:hover ~ .team__goalkeeper-back {
    transform: rotateY(0deg);
}


/* Defender styles */

/* Virgil Van Dijk Section */
.team__defender--one {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 4 / span 11;
    grid-row: 1;
    padding: 0;
    margin: 0;
    position: relative;
}

.team__defender-front, .team__defender-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 22%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__defender-front {
    transform: rotateY(0deg);
}

.team__defender-back {
    transform: rotateY(180deg);
}

.team__defender-front:hover {
    transform: rotateY(-180deg);
}

.team__defender-front:hover ~ .team__defender-back {
    transform: rotateY(0deg);
}

/* Ibrahima Konaté Section */
.team__defender--two {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 7 / span 11;
    grid-row: 1;
    padding: 0;
    margin: 0;
    position: relative;
}

.team__defender--two .team__defender-front, .team__defender--two .team__defender-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 33%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__defender--two .team__defender-front {
    transform: rotateY(0deg);
}

.team__defender--two .team__defender-back {
    transform: rotateY(180deg);
}

.team__defender--two .team__defender-front:hover {
    transform: rotateY(-180deg);
}

.team__defender--two .team__defender-front:hover ~ .team__defender-back {
    transform: rotateY(0deg);
}

/* Andy Robertson Section */
.team__defender--three {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 10 / span 11;
    grid-row: 1;
    padding: 0;
    margin: 0;
    position: relative;
}

.team__defender--three .team__defender-front, .team__defender--three .team__defender-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 66%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__defender--three .team__defender-front {
    transform: rotateY(0deg);
}

.team__defender--three .team__defender-back {
    transform: rotateY(180deg);
}

.team__defender--three .team__defender-front:hover {
    transform: rotateY(-180deg);
}

.team__defender--three .team__defender-front:hover ~ .team__defender-back {
    transform: rotateY(0deg);
}

/* Trent Alexander-Arnold Section */
.team__defender--four {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 1 / span 11;
    grid-row: 2;
    padding: 0;
    position: relative;
}

.team__defender--four .team__defender-front, .team__defender--four .team__defender-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 18%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__defender--four .team__defender-front {
    transform: rotateY(0deg);
}

.team__defender--four .team__defender-back {
    transform: rotateY(180deg);
}

.team__defender--four .team__defender-front:hover {
    transform: rotateY(-180deg);
}

.team__defender--four .team__defender-front:hover ~ .team__defender-back {
    transform: rotateY(0deg);
}

/* Midfielder styles */

/* dominik szoboszlai section */
.team__midfield--one {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 4 / span 11;
    grid-row: 2;
    padding: 0;
    position: relative;
}

.team__midfield-front, .team__midfield-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 22%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__midfield-front {
    transform: rotateY(0deg);
}

.team__midfield-back {
    transform: rotateY(180deg);
}

.team__midfield-front:hover {
    transform: rotateY(-180deg);
}

.team__midfield-front:hover ~ .team__midfield-back {
    transform: rotateY(0deg);
}

/* Alexsis Mac Allister Section */
.team__midfield--two {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 7 / span 11;
    grid-row: 2;
    padding: 0;
    position: relative;
}

.team__midfield--two .team__midfield-front, .team__midfield--two .team__midfield-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 33%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__midfield--two .team__midfield-front {
    transform: rotateY(0deg);
}

.team__midfield--two .team__midfield-back {
    transform: rotateY(180deg);
}

.team__midfield--two .team__midfield-front:hover {
    transform: rotateY(-180deg);
}

.team__midfield--two .team__midfield-front:hover ~ .team__midfield-back {
    transform: rotateY(0deg);
}

/* Ryan Gravenberch Section */

.team__midfield--three {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 10 / span 11;
    grid-row: 2;
    padding: 0;
    position: relative;
}

.team__midfield--three .team__midfield-front, .team__midfield--three .team__midfield-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 66%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__midfield--three .team__midfield-front {
    transform: rotateY(0deg);
}

.team__midfield--three .team__midfield-back {
    transform: rotateY(180deg);
}

.team__midfield--three .team__midfield-front:hover {
    transform: rotateY(-180deg);
}

.team__midfield--three .team__midfield-front:hover ~ .team__midfield-back {
    transform: rotateY(0deg);
}

/* Wataru Endo Section */

.team__midfield--four {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 1 / span 11;
    grid-row: 3;
    padding: 0;
    position: relative;
}

.team__midfield--four .team__midfield-front, .team__midfield--four .team__midfield-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 18%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__midfield--four .team__midfield-front {
    transform: rotateY(0deg);
}

.team__midfield--four .team__midfield-back {
    transform: rotateY(180deg);
}

.team__midfield--four .team__midfield-front:hover {
    transform: rotateY(-180deg);
}

.team__midfield--four .team__midfield-front:hover ~ .team__midfield-back {
    transform: rotateY(0deg);
}

/* Forward styles */

/* Cody Gakpo Section */
.team__forward--one {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 4 / span 11;
    grid-row: 3;
    padding: 0;
    position: relative;
}

.team__forward-front, .team__forward-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 22%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__forward-front {
    transform: rotateY(0deg);
}

.team__forward-back {
    transform: rotateY(180deg);
}

.team__forward-front:hover {
    transform: rotateY(-180deg);
}

.team__forward-front:hover ~ .team__forward-back {
    transform: rotateY(0deg);
}

/* Luis Diaz Section */

.team__forward--two {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 7 / span 11;
    grid-row: 3;
    padding: 0;
    position: relative;
}

.team__forward--two .team__forward-front, .team__forward--two .team__forward-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 33%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__forward--two .team__forward-front {
    transform: rotateY(0deg);
}

.team__forward--two .team__forward-back {
    transform: rotateY(180deg);
}

.team__forward--two .team__forward-front:hover {
    transform: rotateY(-180deg);
}

.team__forward--two .team__forward-front:hover ~ .team__forward-back {
    transform: rotateY(0deg);
}

/* Mohamed Salah Section */

.team__forward--three {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 10 / span 11;
    grid-row: 3;
    padding: 0;
    position: relative;
}

.team__forward--three .team__forward-front, .team__forward--three .team__forward-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 66%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__forward--three .team__forward-front {
    transform: rotateY(0deg);
}

.team__forward--three .team__forward-back {
    transform: rotateY(180deg);
}

.team__forward--three .team__forward-front:hover {
    transform: rotateY(-180deg);
}

.team__forward--three .team__forward-front:hover ~ .team__forward-back {
    transform: rotateY(0deg);
}

/* diogo jota section */

.team__forward--four {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 1 / span 11;
    grid-row: 4;
    padding: 0;
    position: relative;
}

.team__forward--four .team__forward-front, .team__forward--four .team__forward-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 18%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__forward--four .team__forward-front {
    transform: rotateY(0deg);
}

.team__forward--four .team__forward-back {
    transform: rotateY(180deg);
}

.team__forward--four .team__forward-front:hover {
    transform: rotateY(-180deg);
}

.team__forward--four .team__forward-front:hover ~ .team__forward-back {
    transform: rotateY(0deg);
}

/* federico chiesa section */
.team__forward--five {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 4 / span 11;
    grid-row: 4;
    padding: 0;
    position: relative;
}

.team__forward--five .team__forward-front, .team__forward--five .team__forward-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 22%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__forward--five .team__forward-front {
    transform: rotateY(0deg);
}

.team__forward--five .team__forward-back {
    transform: rotateY(180deg);
}

.team__forward--five .team__forward-front:hover {
    transform: rotateY(-180deg);
}

.team__forward--five .team__forward-front:hover ~ .team__forward-back {
    transform: rotateY(0deg);
}

/* Darwin Nunez Section */
.team__forward--six {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 7 / span 11;
    grid-row: 4;
    padding: 0;
    position: relative;
}

.team__forward--six .team__forward-front, .team__forward--six .team__forward-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 33%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__forward--six .team__forward-front {
    transform: rotateY(0deg);
}

.team__forward--six .team__forward-back {
    transform: rotateY(180deg);
}

.team__forward--six .team__forward-front:hover {
    transform: rotateY(-180deg);
}

.team__forward--six .team__forward-front:hover ~ .team__forward-back {
    transform: rotateY(0deg);
}

/* Manager Section */

/* Arne Slot Section */
.team__manager--one {
    transform-style: preserve-3d;
    perspective: 1000px;
    height: 32vh;
    width: 100%;
    grid-column: 10 / span 11;
    grid-row: 4;
    padding: 0;
    position: relative;
}

.team__manager--one .team__manager-front, .team__manager--one .team__manager-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 66%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease;
}

.team__manager--one .team__manager-front {
    transform: rotateY(0deg);
}

.team__manager--one .team__manager-back {
    transform: rotateY(180deg);
}

.team__manager--one .team__manager-front:hover {
    transform: rotateY(-180deg);
}

.team__manager--one .team__manager-front:hover ~ .team__manager-back {
    transform: rotateY(0deg);
}

/* Footer Section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 16, 46);
    width: 100%;
    height: 20vh;
    margin-top: 40vh;
}
.contact__details {
    display: flex;
    justify-content: space-evenly;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    width: 100%;
}
.contact__info-text a {
    color: white;
    margin-left: 0.5rem;
}
.contact__info-text a:hover {
    color: blue;
    cursor: pointer;
}

/* Media Queries Section */

/* tablets (max-width: 1334px) */
@media only screen and (max-width: 1334px) {
    
    /* Header adjustments */
    .header__section {
        height: 15vh;
    }
    .header__logo-img {
        height: 10vh;
    }
    .header__heading {
        font-size: 4rem;
    }
    .header__nav {
        font-size: 1rem;
    }
   
    /* Team grid adjustments */
    .team {
        grid-template-columns: repeat(12, 1fr);
    }
    
    /* Adjust card sizes and contents */

    /* Goalkeeper */
    .team__goalkeeper-front, .team__goalkeeper-back {
        font-size: 0.8rem;
        height: 25vh;
        padding-top: 2%;
    }

    /* Defenders */
    .team__defender--one .team__defender-front,
    .team__defender--one .team__defender-back,
    .team__defender--two .team__defender-front,
    .team__defender--two .team__defender-back,
    .team__defender--three .team__defender-front,
    .team__defender--three .team__defender-back,
    .team__defender--four .team__defender-front,
    .team__defender--four .team__defender-back {
        font-size: 0.8rem;
        height: 25vh;
        padding-top: 2%;
    }

    /* Midfielders */
    .team__midfield--one .team__midfield-front,
    .team__midfield--one .team__midfield-back,
    .team__midfield--two .team__midfield-front,
    .team__midfield--two .team__midfield-back,
    .team__midfield--three .team__midfield-front,
    .team__midfield--three .team__midfield-back,
    .team__midfield--four .team__midfield-front,
    .team__midfield--four .team__midfield-back {
        font-size: 0.8rem;
        height: 25vh;
        padding-top: 2%;
    }

    /* Forwards */
    .team__forward--one .team__forward-front,
    .team__forward--one .team__forward-back,
    .team__forward--two .team__forward-front,
    .team__forward--two .team__forward-back,
    .team__forward--three .team__forward-front,
    .team__forward--three .team__forward-back,
    .team__forward--four .team__forward-front,
    .team__forward--four .team__forward-back,
    .team__forward--five .team__forward-front,
    .team__forward--five .team__forward-back,
    .team__forward--six .team__forward-front,
    .team__forward--six .team__forward-back {
        font-size: 0.8rem;
        height: 25vh;
        padding-top: 2%;
    }

    /* Manager */
    .team__manager--one .team__manager-front,
    .team__manager--one .team__manager-back {
        font-size: 0.8rem;
        height: 25vh;
        padding-top: 2%;
    }

    /* Adjust images */
    .team__player-image img, .team__player-nationality img {
        height: 15vh;
        
    }

    /* Footer adjustments */
    
    .contact__details {
        font-size: 70%;
    }
}

/* mobile (max-width: 690px) */
@media only screen and (max-width: 690px) {
    
    /* Header adjustments */
    .header__logo-img {
        height: 8vh;
    }
    .header__heading {
        font-size: 2.5rem;
    }
    
    /* Adjust card sizes and contents */

    /* Goalkeeper */
    .team__goalkeeper-front, .team__goalkeeper-back {
        font-size: 0.7rem;
        height: 25vh
    }

    /* Defenders */
    .team__defender--one .team__defender-front,
    .team__defender--one .team__defender-back,
    .team__defender--two .team__defender-front,
    .team__defender--two .team__defender-back,
    .team__defender--three .team__defender-front,
    .team__defender--three .team__defender-back,
    .team__defender--four .team__defender-front,
    .team__defender--four .team__defender-back {
        font-size: 0.7rem;
        height: 25vh;
        padding: 1%;
    }

    /* Midfielders */
    .team__midfield--one .team__midfield-front,
    .team__midfield--one .team__midfield-back,
    .team__midfield--two .team__midfield-front,
    .team__midfield--two .team__midfield-back,
    .team__midfield--three .team__midfield-front,
    .team__midfield--three .team__midfield-back,
    .team__midfield--four .team__midfield-front,
    .team__midfield--four .team__midfield-back {
        font-size: 0.7rem;
        height: 25vh;
        padding: 1%;
    }

    /* Forwards */
    .team__forward--one .team__forward-front,
    .team__forward--one .team__forward-back,
    .team__forward--two .team__forward-front,
    .team__forward--two .team__forward-back,
    .team__forward--three .team__forward-front,
    .team__forward--three .team__forward-back,
    .team__forward--four .team__forward-front,
    .team__forward--four .team__forward-back,
    .team__forward--five .team__forward-front,
    .team__forward--five .team__forward-back,
    .team__forward--six .team__forward-front,
    .team__forward--six .team__forward-back {
        font-size: 0.7rem;
        height: 25vh;
        padding: 1%;
    }

    /* Manager */
    .team__manager--one .team__manager-front,
    .team__manager--one .team__manager-back {
        font-size: 0.7rem;
        height: 25vh;
    }

    /* Adjust images */
    .team__player-image img, .team__player-nationality img {
        height: 12vh;
       
    }

    /* Footer adjustments */
    .contact {
        font-size: 0.8rem;
        height: 10vh;
    }
}

