/* Universal styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "bebas";
    src: url("/assets/fonts/bebas-regular.ttf") format(truetype);
}
body {

}
/* Header Section */
.header-section {
    display: flex;
    justify-content: space-between;
    background-color: rgb(200, 16, 46);
    width: 100%;
    height: 20vh;
}
.header-logo {
    align-content: center;
}
.liverpool-logo-img {
    height: 15vh;
    width: 100%;
}
.liverpool-text-heading {
    font-family: "bebas";
    font-size: 5rem;
    color: white;
    align-self: center;
}
.nav-bar-section {
    align-self: center;
    font-size: 1.5rem;
    margin-right: 2%;
    /*border: 3px solid green;*/  
}
.nav-bar-list {
    font-family: "bebas";
    list-style-type: none;
    cursor: pointer;
}
.nav-bar-list a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}
.nav-bar-list a:hover {
    animation-delay: 400ms;
    color: blue;
}
/* Main section */

/* Main Header */
.main-heading {
    font-family: "bebas";
    text-align: center;
    font-size: 2rem;
    padding-top: 5%;
}

/* Team section styles */
.team-section {
    border: 3px solid red;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Goalkeeper styles */
.goalkeeper-section {
    transform-style: preserve-3d;
    perspective: 1000px; 
    height: 32vh;
    width: 100%;
    grid-column: 1 / span 11;
    grid-row: 1;
    padding: 0;
    margin: 0;
    position: relative; 
}


.goalkeeper-info-front, .goalkeeper-info-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 18%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease; 
}

/* Goalkeeper card styles */
.goalkeeper-info-front {
    transform: rotateY(0deg); 
}


.goalkeeper-info-back {
    transform: rotateY(180deg); 
}


.goalkeeper-info-front:hover {
    transform: rotateY(-180deg); 
}


.goalkeeper-info-front:hover ~ .goalkeeper-info-back {
    transform: rotateY(0deg); 
}


.player-image img, .player-nationality img {
    height: 18vh;
    width: 72%;
}

/* Virgil Van Dijk Section */

.defender-one-section {
    transform-style: preserve-3d;
    perspective: 1000px; 
    height: 32vh;
    width: 100%;
    grid-column: 4 / span 11;
    grid-row: 1;
    padding: 0;
    margin: 0;
    position: relative; 
}

.defender-one-info-front, .defender-one-info-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 22%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease; 
}

.defender-one-info-front {
    transform: rotateY(0deg); 
}


.defender-one-info-back {
    transform: rotateY(180deg); 
}


.defender-one-info-front:hover {
    transform: rotateY(-180deg); 
}


.defender-one-info-front:hover ~ .defender-one-info-back {
    transform: rotateY(0deg); 
}

/* ibrahima konaté Section */ 

.defender-two-section {
    transform-style: preserve-3d;
    perspective: 1000px; 
    height: 32vh;
    width: 100%;
    grid-column: 7 / span 11;
    grid-row: 1;
    padding: 0;
    margin: 0;
    position: relative; 
}

.defender-two-info-front, .defender-two-info-back {
    border-radius: 15px;
    background-color: rgb(200, 16, 46);
    height: 30vh;
    width: 33%;
    font-family: "bebas";
    font-size: 1.5rem;
    color: white;
    text-align: center;
    backface-visibility: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s ease; 
}

.defender-two-info-front {
    transform: rotateY(0deg); 
}


.defender-two-info-back {
    transform: rotateY(180deg); 
}


.defender-two-info-front:hover {
    transform: rotateY(-180deg); 
}


.defender-two-info-front:hover ~ .defender-two-info-back {
    transform: rotateY(0deg); 
}